.modal-close-animation {
	animation: modalCloseAnimation 0.3s linear forwards;
}

@keyframes modalCloseAnimation {
	0% {
	}
	100% {
		top: var(--target-y);
		left: var(--target-x);
		width: 0;
		height: 0;
		opacity: 0;
	}
}
